/*header*/
.header {
  position: relative;
  width: 100%;  
  text-align: center;
  background-color: aliceblue;
}

/*footer*/

.footer {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: aliceblue;
}

/*product*/
.product {
  position: relative;
  text-align: center;
}