/*header*/
.header {
  position: relative;
  width: 100%;  
  text-align: center;
  background-color: aliceblue;
}

/*footer*/

.footer {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: aliceblue;
}

/*product*/
.product {
  height: 300px; 
  width: 100%;
  overflow-y: auto; /* 스크롤 허용 */
  border: 1px solid #ccc;
  padding: 10px;
}

/*star*/
.Fastar {
  color:yellow;
  cursor:pointer;
  font-size: 52px;
}

.FaRegstar {
  color: gray;
  cursor:pointer;
  font-size: 52px;
}

.FaRegstar:hover,
.FaRegstar:focus{
  color: yellow;
}

/*dropdown*/
.Dropdown__container {
  position: relative;
  display: inline-block;
}

.Dropdown {
  background: #0B868E;
	color: #fff;
	font-weight: bold;
	padding: 20px;
  border: none;
  cursor: pointer;
}

.Dropdown:hover {
  background: #66CC99;
	color: #333;
}

.Dropdown__detail {
  position: absolute;
	width: 120px;
	background: #ccc;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 5;
  margin-top: 20px;
}


.Dropdown__detail div {
  display: block;
	color: #333;
	padding: 10px;
}

.Dropdown__detail div:hover{
  background: #333;
	color: #fff;
}
