/*header - https://wpdean.com/css-header/ */
:root {
  --bg: #e2e1e1d5;
  --c1: #642b2b;
  --c2: #000000;
  --c3: #0585b8;
  --cr: rgb(255, 38, 0);
  --cs: rgb(212, 212, 5);
  --ce: rgb(0, 128, 0);
  

  /*   
  --bg: #112;
  --c1: blue;
  --c2: white;
  --c3: #eef; 
  */}

header {
  height: 50vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background-color: var(--bg);
  font-family: 'Noto Sans', sans-serif;
}

.Header__text__container {
  display: flex;
}

.Header__COU {
  color: rgb(78, 0, 0); 
  font-weight: bold;
}

.Header__r {
  color: var(--cr); 
  font-weight: bold; 
}

.Header__s {
  color: var(--cs);
  font-weight: bold;
}

.Header__e {
  color: var(--ce);
  font-weight: bold;
}


/*hamburger*/
.Hamburger__container {
  position: relative; /* 리스트의 위치 기준을 버튼으로 설정 */
  display: grid;
  align-items: center;
  z-index:5; 
}

.Hamburger__button {
  color: black;
  z-index: 5;
  display: grid;
  justify-items: center;
  padding: 15px;
  width: 140px;
  background-color: rgb(12, 154, 248);
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.Header__hamburger {
  position: absolute; /* 독립적으로 배치 */
  right: 20px; /* 오른쪽 여백 */
  z-index: 10; /* 다른 요소 위로 배치 */
}

.HamburgerMenu {
  margin: 10px 0px 15px 0px;
}

.Hamburger__list {
  position: absolute; /* 버튼을 기준으로 리스트 위치 설정 */
  top: 100%; /* 버튼 아래로 배치 */
  right: 0; /* 버튼의 오른쪽 끝에 맞춤 */
  background-color: white;
  padding: 10px;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  z-index: 10; /* 다른 요소 위로 배치 */
  font-style: normal;
  font-size: 17px;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}


.Hamburger__list li {
  padding: 8px 12px;
}

.Hamburger__list li:hover {
  background-color: #f0f0f0; /* 호버 효과 */
}

.description__box {
  position: absolute;
  bottom: 70%;
  transform: translateY(-50%); /* 중앙 정렬 */
  background-color: rgba(0, 0, 0, 0.8); /* 어두운 배경 */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 15;
}

@keyframes fadeout { 	
  0% {
    opacity: 0; 
  }

  100% {
    opacity: 1;
  }
}

@keyframes showBars {
  0% {
    opacity: 0;
    background-position: -400% 7%, 500% 21%, -400% 35%, 500% 49%, -400% 63%,
      500% 77%, -400% 91%;
  }
  14% {
    background-position: 0% 7%, 500% 21%, -400% 35%, 500% 49%, -400% 63%,
      500% 77%, -400% 91%;
  }
  28% {
    background-position: 0% 7%, 100% 21%, -400% 35%, 500% 49%, -400% 63%,
      500% 77%, -400% 91%;
  }
  42% {
    background-position: 0% 7%, 100% 21%, 0% 35%, 500% 49%, -400% 63%, 500% 77%,
      -400% 91%;
  }
  56% {
    background-position: 0% 7%, 100% 21%, 0% 35%, 100% 49%, -400% 63%, 500% 77%,
      -400% 91%;
  }
  70% {
    background-position: 0% 7%, 100% 21%, 0% 35%, 100% 49%, 0% 63%, 500% 77%,
      -400% 91%;
  }
  84% {
    background-position: 0% 7%, 100% 21%, 0% 35%, 100% 49%, 0% 63%, 100% 77%,
      -400% 91%;
  }
  98%,
  100% {
    opacity: 1;
    background-position: 0% 7%, 100% 21%, 0% 35%, 100% 49%, 0% 63%, 100% 77%,
      0% 91%;
  }
}

header::after {
  content: "";
  width: 100%;
  height: 20vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: 70% 7%;
  background-image: linear-gradient(var(--c1), var(--c1)),
    linear-gradient(var(--cr), var(--cr)), linear-gradient(var(--c1), var(--c1)),
    linear-gradient(var(--cs), var(--cs)), linear-gradient(var(--c1), var(--c1)),
    linear-gradient(var(--ce), var(--ce)), linear-gradient(var(--c1), var(--c1));
  background-position: 0% 7%, 100% 21%, 0% 35%, 100% 49%, 0% 63%, 100% 77%,
    0% 91%;
  animation: showBars 3.5s;
}

@keyframes showText {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

header > div {
  position: relative;
  transform: translate(-100%, 0);
  opacity: 0;
  animation: showText 2s 1;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
  text-align: center;
}

h1 {
  font-weight: 400;
  font-family: Oswald, Montserrat, arial, sans-serif;
  margin: 0;
  font-size: 10vw;
  color: var(--c2);
}

p {
  color: var(--c3);
  margin: 0;
  font-size: 5vw;
  margin-bottom: 5vh;
  font-weight: bold;
}

@media all and (min-width: 768px) {
  /*반응형 코드 진입*/

  @keyframes showBarsBig {
    0% {
      opacity: 0;
      background-position: 7% -400%, 21% 500%, 35% -400%, 49% 500%, 63% -400%,
        77% 500%, 91% -400%;
    }
    14% {
      background-position: 7% 0%, 21% 500%, 35% -400%, 49% 500%, 63% -400%,
        77% 500%, 91% -400%;
    }
    28% {
      background-position: 7% 0%, 21% 100%, 35% -400%, 49% 500%, 63% -400%,
        77% 500%, 91% -400%;
    }
    42% {
      background-position: 7% 0%, 21% 100%, 35% 0%, 49% 500%, 63% -400%,
        77% 500%, 91% -400%;
    }
    56% {
      background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% -400%,
        77% 500%, 91% -400%;
    }
    70% {
      background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 500%,
        91% -400%;
    }
    84% {
      background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 100%,
        91% -400%;
    }
    98%,
    100% {
      opacity: 1;
      background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 100%,
        91% 0%;
    }
  }

  @keyframes showTextBig {
    0% {
      opacity: 0;
      transform: translate(-100%, 0);
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translate(0vw, 0);
    }
  }

  header {
    height: 20vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  header::after {
    width: 20vw;
    height: 100%;
    background-size: 7% 70%;
    background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 100%,
      91% 0%;
    animation-name: showBarsBig;
  }

  header > div {
    animation-name: showTextBig;
    margin-left: 22vw;
    text-align: left;
  }

  h1 {
    font-size: 3.5vw;
  }

  p {
    font-size: 1.5vw;
    margin-bottom: 0;
  }
}

@media (prefers-reduced-motion) {
  header::after {
    animation: none !important;
  }

  @keyframes showTextReduced {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  header > div {
    transform: translate(0, 0);
    animation-name: showTextReduced;
    animation-delay: 0.5s !important;
  }
}

/*main*/
.Product__main {
  text-align: center;
  min-height: 100vh;
  height: auto;
  padding-top: 70px;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

.Product__main p {
  font-size: 23px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 50px;
  color: black;
}

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

/*layout - https://devdevout.com/css/css-animated-backgrounds */
.background {
  background: linear-gradient(to top, #ace09f, #fbd786, #f7797d);
  min-height: 100vh;
  width: 100%;
  height: auto;
}

.background__block__event {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  overflow: hidden;
}


.background__block__event li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.397);
  animation: animate 25s linear infinite;
  border-radius: 100%;
  bottom: calc(-50vh);
  z-index: 2;
}

.background__block__event li:nth-child(1) {
  left: 25%;
  width: 70px;
  height: 70px;
}

.background__block__event li:nth-child(2) {
  left: 10%;
  width: 70px;
  height: 70px;
  animation-duration: 20s;
}

.background__block__event li:nth-child(3) {
  left: 90%;
  width: 80px;
  height: 80px;
}

.background__block__event li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-duration: 18s;
}

.background__block__event li:nth-child(5) {
  left: 65%;
  width: 50px;
  height: 50px;
}

.background__block__event li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
}

.background__block__event li:nth-child(7) {
  left: 35%;
  width: 90px;
  height: 90px;
}

.background__block__event li:nth-child(8) {
  left: 50%;
  width: 55px;
  height: 55px;
  animation-duration: 45s;
}

.background__block__event li:nth-child(9) {
  left: 20%;
  width: 45px;
  height: 45px;
  animation-duration: 35s;
}

.background__block__event li:nth-child(10) {
  left: 85%;
  width: 70px;
  height: 70px;
  animation-duration: 20s;
}

.background__block__event li:nth-child(11) {
  left: 75%;
  width: 50px;
  height: 50px;
  animation-duration: 15s;
}

.background__block__event li:nth-child(12) {
  left: 55%;
  width: 50px;
  height: 50px;
  animation-duration: 19s;
}

.background__block__event li:nth-child(13) {
  left: 55%;
  width: 45px;
  height: 45px;
  animation-duration: 17s;
}

.background__block__event li:nth-child(14) {
  left: 55%;
  width: 60px;
  height: 60px;
  animation-duration: 15s;
}

.background__block__event li:nth-child(15) {
  left: 55%;
  width: 70px;
  height: 70px;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.75;
    border-radius: 100%;
  }

  100% {
    transform: translateY(-400vh) rotate(720deg);
    opacity: 0;
    border-radius: 100%;
  }
}

/*footer*/
.footer {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: --bg;
  font-family: 'Noto Sans', sans-serif;
}

.footer_p {
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.flex__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.about {
  text-align: left;
}

.use__stack {
  text-align: right;
}

/*product*/
.product {
  height: 300px;
  width: 100%;
  overflow-y: auto; /* 스크롤 허용 */
  border: 1px solid #ccc;
  padding: 10px;
}

/*star*/
.Fastar {
  color: yellow;
  cursor: pointer;
  font-size: 70px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.FaRegstar {
  color: rgb(173, 185, 0);
  cursor: pointer;
  font-size: 70px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.Fastar:hover,
.Fastar:focus,
.FaRegstar:hover,
.FaRegstar:focus {
  color: yellow;
  transform: scale(1.2);
}

.Star__rating__container {
  position: relative;
}

.Star__rating__container p {
  font-size: 23px;
  margin-bottom: 10px;
  color: black;
}

/*dropdown*/
.Dropdown__container {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.Dropdown {
  background: linear-gradient(180deg, #f7ba6c, rgb(230, 109, 57));
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
  border: none;
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  border-radius: 10%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.Dropdown:hover {
  background: linear-gradient(180deg, #FF8856, #FF7043); 
}

.Dropdown__detail {
  background: linear-gradient(180deg, #FFE5D1, #FFC6A1);
  position: absolute;
  width: 120px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 5;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}

.Dropdown__detail.show {
  max-height: 500px;
}

.Dropdown__detail div {
  display: block;
  color: #333;
  padding: 10px;
}

.Dropdown__detail div:hover {
  background-color: #FF8856;
  color: #fff;
}


/*button - https://inpa.tistory.com/entry/CSS-%F0%9F%92%8D-%EB%B2%84%ED%8A%BC-%EB%94%94%EC%9E%90%EC%9D%B8-%EB%AA%A8%EC%9D%8C */
.Custom-btn {
  width: 300px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: Oswald, Montserrat, arial, sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.Scroll__button {
  background-color: #f7797d;
  background-image: #f7797d;
  border: none;
  z-index: 1;
}
.Scroll__button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.Scroll__button:hover {
  color: #fff;
}
.Scroll__button:hover:after {
  left: 0;
  width: 100%;
}
.Scroll__button:active {
  top: 2px;
}

.button__one:after {
  background-color: #ff3d3d;
}

.button__two {
  background-color: #f7ae50;
}

.button__two:after {
  background-color: #ff8622;
}





/*category*/
.Category__container {
  width: 270px;
  height: 40px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  text-align: center;
  z-index: 1;
  position: relative;
}

/*Error*/
.Error__container {
  color: rgba(168, 4, 4, 0.842);
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
}

/*explanation*/

.Explain__Hidden {
  overflow: hidden;
}

.Explain__container {
  padding: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  font-family: 'Noto Sans', sans-serif;
}

.Basic__explanation {
  color: white;
}

.Usage__explanation {
  color: black;
  font-weight: normal;
  padding: 20px;
}

/*result*/
.Response__container {
  position: relative;
  margin-top: 200px;
  min-height: 90vh;
}

.Response__container p {
  color: black;
  font-family: 'Noto Sans', sans-serif;
}

.Product__Result {
  /* https://uiverse.io/SteveBloX/dangerous-warthog-85 */
  box-sizing: border-box;
  width: 250px;
  height: 304px;
  background: rgba(240, 240, 240, 0.082);
  border: 1px solid white;
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: grid;
  align-content: center;
  justify-items: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  margin: 20px;
}

.Product__Result:hover {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.26);
}

.Product__Result p {
  font-size:20px;
  margin:10px 0px 10px 0px;
}

.Product__Result__Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
}

.Loading__Spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
    position: absolute;
    right: 49%;
    top: 50%;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

